* {
    box-sizing: border-box;
}

body {
    font-family: 'OPPO Sans Medium', Roboto, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    font-size: 16px; /* 固定基本字体大小 */
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

header, footer {
    font-family: 'OPPO Sans Medium', sans-serif;
    font-weight: 300;
}

h1, h2 {
    font-family: 'OPPO Sans Medium', sans-serif;
    font-weight: 500;
}

.subtitle {
    font-weight: 300;
}

header {
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #ccc;
    border-radius: 0 0 12px 12px;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode header {
    background-color: #1f1f1f;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
    transition: transform 0.3s;
}

h1:hover {
    transform: translateY(-2px);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s;
}

body.dark-mode nav {
    background-color: #333;
}

nav a {
    color: #333;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 15px;
    position: relative;
    transition: color 0.3s, transform 0.3s;
}

body.dark-mode nav a {
    color: #fff;
}

nav a:hover {
    color: #555;
    transform: translateY(-5px);
}

nav a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: #555;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

body.dark-mode nav a::after {
    background: #fff;
}

nav a:hover::after {
    width: 100%;
}

#toggleButton {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #f0f0f0;
    color: #333;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.dark-mode #toggleButton {
    background-color: #333;
    color: #fff;
}

#toggleButton:hover {
    background-color: #ccc;
    transform: translateY(-5px);
}

main {
    flex: 1;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

body.dark-mode main {
    background: #1e1e1e;
}

.post-card, #introContent .intro-text {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}

body.dark-mode .post-card, body.dark-mode #introContent .intro-text {
    border: 1px solid #f0f0f0;
    background-color: #2a2a2a;
}

.post-card:hover, #introContent .intro-text:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}

.content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    margin-top: 10px;
    white-space: pre-wrap;
}

.content.show {
    max-height: 500px;
    opacity: 1;
}

.meta {
    color: #888;
    font-size: 0.9em;
}

body.dark-mode .meta {
    color: #ccc;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    margin-top: auto;
    height: 65px;
    font-size: 1rem;
}

body.dark-mode footer {
    background-color: #1f1f1f;
    color: #fff;
}

footer:hover {
    transform: translateY(-5px);
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

footer a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #0056b3;
}

#introContent {
    margin: 20px 0;
}

.intro-text {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

body.dark-mode #introContent .intro-text {
    border: 1px solid #f0f0f0;
    background-color: #2a2a2a;
}

@media (max-width: 600px) {
    main {
        margin: 10px;
        padding: 10px;
    }
    
    header, footer {
        padding: 15px;
    }
}

@media (min-width: 601px) {
    main {
        padding: 30px;
    }
}

.rotate {
    transition: transform 0.6s;
    transform: rotate(360deg);
}

button {
    cursor: pointer;
}

button:focus, a:focus {
    outline: none;
}
